<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel> 
    <services>
      <service name="WebServices.EmpleadoService" behaviorConfiguration="webHttpBehavior">
        <endpoint address="" binding="webHttpBinding" contract="WebServices.IEmpleadoService"  behaviorConfiguration="webHttpBehavior" />
      </service>
    </services>
    <bindings>
      <!-- Customizations for REST service -->
      <webHttpBinding>
        <!-- Limits set to 10 MB (specified value in bytes) -->
        <binding name="ApiQuotaBinding" maxReceivedMessageSize="1048576000" maxBufferPoolSize="1048576000" maxBufferSize="1048576000" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00">
          <readerQuotas maxDepth="32" maxStringContentLength="104857600" maxArrayLength="1048576000" maxBytesPerRead="1048576000" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="webHttpBehavior">
          <serviceMetadata httpGetEnabled="True" policyVersion="Policy15" />
          <serviceDebug includeExceptionDetailInFaults="false"></serviceDebug>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"></supportedRuntime>
  </startup>
  <connectionStrings>
    <add name="Sql2012Pruebas" connectionString="data source=P1P3-PC\SQLEXPRESS2012;initial catalog=PruebaEFSymelco;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>